<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title><%= l10n['plugin.index.title'] %></title>
	<link rel="stylesheet" href="css/default.css" crossorigin="anonymous">
	<link rel="stylesheet" href="css/main.css" crossorigin="anonymous">
	<script type="text/javascript" src="dist/index.js" crossorigin="anonymous"></script>
</head>

<body class="plugin-body">
    <button id="call-print-on-dynamic-webview" class='theia-button'>Call print on dynamic-webview</button>
    <br /><br />
    <button id="call-createNewFile-on-backend" class='theia-button'>Call createNewTermianl on backend</button>
    <div><%= l10n['plugin.index.description'] %></div>

</body>

</html>
